@charset "utf-8";

body
{
	margin: 0;
	padding: 0;
}

/* .banner */
/* { */
    /* background: url(Images/coperta.jpg) no-repeat center; */
	/* background-size: cover; */
	/* height: 100vh; */
	/* position: relative; */
/* } */
	
.carousel-caption
{
	top: 10%;
	transform: translateY(-50%);
}

.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
    width: 30%;
    margin: auto;
  }

.container
{
    margin: 5% auto;
}

header
{
	padding: 10px 30px;
	background-color: rgba(178, 177, 176, 0.5);
}

.hat
{
	float: left;
	display: inline-block;
	height: 70px;
}

.logo
{
	margin: 0px 0px 0px 0px;
	height: 80px;
}

/* .title-color */
/* { */
	/* text-transform: uppercase; */
	/* color: #ff4181; */
/* } */

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(206, 202, 202, 0.5);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.search_my
{
	float: right;
	border: 3px #000 solid;
}

.search1
{
	border: none;
	background-color: none;
	width: 160px;
	height: 30px;
	background-color: transparent;
}

.button1
{
	color: #fff;
	background-color: #000;
	border: none;
	height: 40px;
	width: 40px;
}

.nav1
{
	position: top-fixed;
	float: left;
	list-style: none;
	margin: 20px;
}

.nav1 li a:hover {
    background-color: #F4FA2D;
	transition: 0.5s all;
	color: #000;
}

/* .nav1 a:active { */
    /* background-color: #707B7C; */
/* } */

/* .nav1 a:link, .nav1 a:visited */
/* { */
	/* color: #fff; */
	/* display: inline-block; */
/* } */

.nav1 ul li a
{
    border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	letter-spacing: 1px; 
}

.nav2
{
	background: #fff;
	height: 50px;
}

.nav2 li a:hover {
    background-color: #F4FA2D;
	transition: 0.5s all;
	color: #fff;
}

/* .nav2 a:active { */
    /* background-color: #000; */
/* } */

/* .nav2 a:link, .nav2 a:visited */
/* { */
	/* color: #000; */
	/* display: inline-block; */
/* } */

.nav2 ul li a
{
    border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	letter-spacing: 1px; 
}

.container2
{
    margin: 1% auto;
	text-align: center;
}

#icon
{
	max-width: 200px;
	margin: 9% auto;
}

.box:hover
{
	transform: scale(1.3);
}
