@charset "utf-8";

.body
{
	margin: 0;
	padding: 0;
	background-color: #BDC3C7;
}

/* .banner */
/* { */
    /* background-color: #909497; */
	/* background-size: cover; */
	/* height: 100vh; */
	/* position: relative; */
/* } */
	
.carousel-caption
{
	top: 10%;
	transform: translateY(-50%);
}

.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
    width: 30%;
    margin: auto;
  }

.container
{
    margin: 50% auto;
}

header
{
	padding: 10px 30px;
	background-color: rgba(178, 177, 176, 0.5);
}

.hat
{
	float: left;
	display: inline-block;
	height: 70px;
}

.logo
{
	margin: 0px 0px 0px 0px;
	height: 80px;
}

/* .title-color */
/* { */
	/* text-transform: uppercase; */
	/* color: #ff4181; */
/* } */

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(206, 202, 202, 0.5);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.search_my
{
	float: right;
	border: 3px #000 solid;
}

.search1
{
	border: none;
	background-color: none;
	width: 160px;
	height: 30px;
	background-color: transparent;
}

.button1
{
	color: #fff;
	background-color: #000;
	border: none;
	height: 40px;
	width: 40px;
}

.nav1
{
	position: top-fixed;
	float: left;
	list-style: none;
	margin: 20px;
}

.nav1 li a:hover {
    background-color: #F4FA2D;
	transition: 0.5s all;
}

.nav1 a:active {
    background-color: #707B7C;
}

.nav1 a:link, .nav1 a:visited
{
	color: #fff;
	display: inline-block;
}

.nav1 ul li a
{
    border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	letter-spacing: 1px; 
}

.nav2
{
	background: #fff;
	height: 50px;
}

.nav2 li a:hover {
    background-color: #F4FA2D;
	transition: 0.5s all;
}

.nav2 a:active {
    background-color: #707B7C;
}

.nav2 a:link, .nav1 a:visited
{
	color: #000;
	display: inline-block;
}

.nav2 ul li a
{
    border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	letter-spacing: 1px; 
}

.slider
{
	position: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.flex-caption
{
	padding: 2%;
	left: 50%;
	color: #000;
	font-size: 15px;
	text-align: center;
}

.more-btn
{
	font-size: 15px;
	color: #fff;
	font-weight: 600;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 2px;
	background: #F7DC6F;
	padding: 10px 22px;
	border: 2px solid #F7DC6F;
}

.more-btn:hover
{
	color: #000;
	background: #fff;
}

.mainContent 
{
	margin: 50 50 50 50;
	text-align: center;
	line-height: 25px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background-color: #AAB7B8;
}

.content 
{
    width: 70%;
	float: left;
	background-color: white;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
		margin: 2% 2% 2% 3%;

}

.Content
{
	background-color: #FFF;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 3% 5%;
	margin: 1%;
}

.Top-sidebar
{
	width: 21%;
	float: right;
	background-color: #FFF;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	/* top, right, bottom, left */
	margin: 2% 2% 2% 1%;
	padding: 2% 3%;
}

.Middle-sidebar
{
	width: 21%;
	float: right;
	background-color: #FFF;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	/* top, right, bottom, left */
	margin: 2% 2% 2% 1%;
	padding: 2% 3%;
}

